
svg {
  pointer-events:stroke;
}
.PageView{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

.fondo{
  position: absolute;
  left:0px;
  height: 100%;
  z-index:-1;
  object-fit:content;

}

.navbar, .navbar2{
    scale:1.5;
    margin-top:6%;
    width: 75%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
    margin-right: 10%;
    margin-left: 10%;
    color:gray;
    position: relative;
    left: 78vw;
    transition: left 0.5s;
    z-index:2;
    cursor:pointer;
  }
  .nav-item{
    color:white;
  }
  .nav-item:hover{
    scale: 1.5;
  }
  
  .navbar2{
    left: 8vw;
  }

.button-nav{
  font-size: x-large;
  box-shadow: -1px -1px;
  z-index:2;
  color:white;
}
.button-nav:hover{
  scale: 1.1;
}
.trello{
  height: 70%;
  overflow-y: scroll;
}
.flex-titles{
  display: flex;
  justify-content: center;
  position:relative;
}

.flex-title{
  display: flex;
  justify-content: center;
}
.flex-title2{
  display: flex;
  justify-content: center;
  position:relative;
  left:60px;
}

.title-close{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 60px;
  opacity: 0;
  cursor:pointer;
  left: 60px;
}

.title-close:hover{
  opacity: 1;
}
.title-input{
  border: none;
  width: 300px;
  height: 30px;
  font-size: large;
  opacity: 50%;
}
.close{
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 430px){
  .navbar, .navbar2{
    scale:1.5;
    margin-top:6%;
    width: 75%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
    margin-right: 10%;
    margin-left: 10%;
    color:gray;
    position: relative;
    left: 65vw;
    transition: left 0.5s;
    z-index:2;
    cursor:pointer;
  }
  .navbar2{
    left: 30vw;
  }
}

@media screen and (min-width: 1000px){
  .navbar, .navbar2{
    scale:1.5;
    margin-top:6%;
    width: 75%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
    margin-right: 10%;
    margin-left: 10%;
    color:gray;
    position: relative;
    left: 62vw;
    transition: left 0.5s;
    z-index:2;
    cursor:pointer;
  }
  .navbar2{
    left: 36vw;
  }
}